<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eldy-shop</title>


    <!-- -------fav-icon----- -->
    <link rel="icon" href="assets/images/favicon.jpg">
    <!-- -----bootstrap-------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- ---animkate.css--------- -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- -------fonts---- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- ----stylesheet---- -->
    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>
    <!-- ---------header-start-------------- -->
    <nav class="text-white py-1"
        style="font-size: 12px;  font-family: 'Lato', sans-serif;font-weight: 400;background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex">
                    <div class="me-5">
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa-solid fa-phone me-2" style="font-size: 14px;"></i>
                            <p class="mb-0">0973678967</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa-solid fa-envelope me-2 " style="font-size: 14px;"></i>
                            <p class="mb-0">support@edly.com</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <p class="mb-0">
                        Get an extra -10% off with code: ELDY10
                    </p>
                </div>
                <div class="col-4  d-flex justify-content-end">
                    <a href="#" class="me-3"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="me-3"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <header class="py-4 shadow p-3 bg-body rounded position-sticky top-0" style="z-index: 999;">
        <div class="container">

            
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-3">
                    <div class="logo">
                        <a href="#"> <img src="assets/images/logo.png" alt="" width="59px" height=""></a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="menu">
                        <ul class="mb-0 d-flex justify-content-around">
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/">home</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/shop">shop</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/blog">blog</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/contact">contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 p-0">
                    <div class="service ">
                        <ul class="mb-0 d-flex justify-content-between">
                            
                            </li>
                            <li>
                                <a href="#" style="font-size: 14px;"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li>
                                <a href="#" style="font-size: 14px;"><i class="fa-solid fa-bag-shopping"></i></a>
                            </li>
                            <li>
                               <a href="" style = "font-size: 14px;"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li>
                            <li>
                               <a href="login.html" style="font-size: 14px;"><i class="fa-solid fa-user"></i></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ---------header-end-------------- -->

    <!-- -----------blog-start------------ -->
    <section >
        <div class="container py-5">

            <nav aria-label="breadcrumb" class="py-5">
                <p style="font-size: 28px;font-weight: 400;" class="text-uppercase text-center">BLOG</p>

                <ul class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item " aria-current="page">
                        <a href="/">HOME</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="">BLOG</a>
                    </li>
                </ul>

            </nav>
            <div class="row">
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-1.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="text-uppercase mb-2">New season modern gold earrings</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-2.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="text-uppercase mb-2">The glamorous world of fine jewelry</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-3.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="text-uppercase mb-2">Fashion forward: Statement jewelry trends</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-4.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="text-uppercase mb-2">The allure of vintage-inspired jewelry</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-5.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="text-uppercase mb-2">Trending Products</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                <div class="col-7 mx-auto py-3" data-aos="fade-up"
     data-aos-anchor-placement="top-center">
                    <div class="box">
                        <img src="assets/images/blog-6.jpg" alt="" width="100%" class="mb-4">
                        <p class="m-0 text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">may 24, 2023</p>
                        <p style="font-size: 27px;" class="mb-2">Post format audio blogs</p>
                        <p class="m-0 "  style=" font-family: 'Lato', sans-serif;font-size: 12px;" >Our goal has always been to motivate, encourage and release our fellow creatives to do their thing Sed a libero. Mauris...</p>
                        <div class="btn bg-dark p-3 d-block text-white mt-3"
                        style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 150px;">READ MORE<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                    </div>
                </div>
                
             
            </div>
        </div>
    </section>
    <!-- -----------blog-end------------ -->
    


    <!-- ------------footer-startr--------- -->
    <footer style="background-color: #f9f9f9;" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="assets/images/logo.png" alt="" width="59px" class="mb-2">
                    <p  style="font-size: 12px; font-family: 'Lato', sans-serif;" class="mb-1"><a href="#">demo@gmail.com</a></p>
                    <p  style="font-size: 12px; font-family: 'Lato', sans-serif;">012345678</p>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                           <p class="mb-2 text-uppercase">my account</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">career at eldy</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">about us</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">sustainability</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">press</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                           <p class="mb-2 text-uppercase">help</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">faq</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">shipping</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">returns</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">order status</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <li>
                           <p class="mb-2 text-uppercase">newsletter</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;" class="text-capitalize">Sign-up to receive 10% off your next purchase. Plus hear about new arrivals and offers.</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <input type="text" placeholder="Email.." style="border: 0; border-bottom: 1px solid grey;width: 50%;">
                            <div class="btn bg-light p-3 d-block mx-auto"
                                style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 40%;">Subscribe<i
                                    class="fa-solid fa-arrow-right ms-2  "></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer style="background-color: black;">
        <div class="container">
            <div class="row d-flex align-items-center">
                    <p class="text-white py-3 m-0 text-center" style=" font-family: 'Lato', sans-serif;"><a href="#" style="text-decoration: underline;">Copyright@2023Eldy</a>.All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ------------footer-end--------- -->



     <!-- ---------------animate------------ -->
     <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
     <script>
         AOS.init();
     </script>
</body>

</html>
