<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eldy-shop</title>


    <!-- -------fav-icon----- -->
    <link rel="icon" href="assets/images/favicon.jpg">
    <!-- -----bootstrap-------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- ---animkate.css--------- -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- -------fonts---- -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- ------product-view-slider-------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
        integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
        integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- ----stylesheet---- -->
    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>
    <!-- ---------header-start-------------- -->
    <nav class="text-white py-1"
        style="font-size: 12px;  font-family: 'Lato', sans-serif;font-weight: 400;background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex">
                    <div class="me-5">
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa-solid fa-phone me-2" style="font-size: 14px;"></i>
                            <p class="mb-0">0973678967</p>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="d-flex align-items-center">
                            <i class="fa-solid fa-envelope me-2 " style="font-size: 14px;"></i>
                            <p class="mb-0">support@edly.com</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <p class="mb-0">
                        Get an extra -10% off with code: ELDY10
                    </p>
                </div>
                <div class="col-4  d-flex justify-content-end">
                    <a href="#" class="me-3"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="me-3"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-dribbble"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <header class="py-4 shadow p-3 bg-body rounded position-sticky top-0" style="z-index: 999;">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-3">
                    <div class="logo">
                        <a href="#"> <img src="assets/images/logo.png" alt="" width="59px" height=""></a>
                    </div>
                </div>
                <div class="col-5">
                    <div class="menu">
                        <ul class="mb-0 d-flex justify-content-around">
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/">home</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/shop">shop</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/blog">blog</a>
                            </li>
                            <li class="text-uppercase" style=" font-family: 'Lato', sans-serif;font-size: 14px;">
                                <a href="/contact">contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 p-0">
                    <div class="service ">
                        <ul class="mb-0 d-flex justify-content-between">
                            
                            </li>
                            <li>
                                <a href="#" style="font-size: 14px;"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li>
                                <a href="#" style="font-size: 14px;"><i class="fa-solid fa-bag-shopping"></i></a>
                            </li>
                            <li>
                               <a href="" style = "font-size: 14px;"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li>
                            <li>
                               <a href="login.html" style="font-size: 14px;"><i class="fa-solid fa-user"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ---------header-end-------------- -->
    <!-- -------------/produts-start------------ -->
    <section>
        <div class="container">
            <nav aria-label="breadcrumb" class="py-5">
                <p style="font-size: 28px;font-weight: 400;" class="text-uppercase text-center">SHOP</p>

                <ul class="breadcrumb d-flex justify-content-center">
                    <li class="breadcrumb-item " aria-current="page">
                        <a href="/">HOME</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="">SHOP</a>
                    </li>
                </ul>

            </nav>
            <div class="row">


                <div class="col-12 mb-5">
                    <div class="your-class col-6  mx-auto">
                        <div class="">
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"> <img src="assets/images/ctg-6.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;"></a>

                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">BEST SELLER</a>
                            </div>
                        </div>
                        <div>
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"> <img src="assets/images/ctg-5.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;">
                                </a>
                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">BRACELATES</a>
                            </div>
                        </div>
                        <div>
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"><img src="assets/images/ctg-3.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;"></a>

                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">EARRINGS</a>
                            </div>
                        </div>
                        <div>
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"> <img src="assets/images/ctg-1.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;"></a>

                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">NECKLACES</a>
                            </div>
                        </div>
                        <div>
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"> <img src="assets/images/ctg-4.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;"></a>

                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">RINGS</a>
                            </div>
                        </div>
                        <div>
                            <div style="border-radius: 50%;overflow: hidden;height: 120px;width: 120px;"
                                class="mx-auto">
                                <a href="#"><img src="assets/images/ctg-2.jpg" alt="" srcset="" width="120px"
                                        style="overflow: hidden;">
                                </a>
                            </div>
                            <div class="content mt-2 text-center">
                                <a href="#" style="color: black;font-size: 16px;">WEDDING</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-3">
                    <div class="categories mb-1">
                        <div class="cont">
                            <p style="font-size: 18px;font-weight: 500;" class="text-uppercase">CATEGORIES</p>
                            <ul style=" font-family: 'Lato', sans-serif;color: rgb(84, 84, 84);font-size: 12px;"
                                class="p-0">
                                <li class="mb-1">
                                    <a href="#">Best Sellers (2)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Bracelets (9)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Earrings (7)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Necklaces (9)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Rings (1)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Wedding (5)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="price mb-1">
                        <div class="cont">
                            <p style="font-size: 18px;font-weight: 500;" class="text-uppercase">PRICE</p>
                            <p style=" font-family: 'Lato', sans-serif;color: rgb(84, 84, 84);font-size: 12px;">Range :
                                25.00$ - 250.00$</p>
                        </div>
                    </div>
                    <div class="Brands mb-1">
                        <div class="cont">
                            <p style="font-size: 18px;font-weight: 500;" class="text-uppercase">BRANDS</p>
                            <ul style=" font-family: 'Lato', sans-serif;color: rgb(84, 84, 84);font-size: 12px;"
                                class="p-0">
                                <li class="mb-1">
                                    <a href="#">Daimond (2)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Elegant (9)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Jewel (7)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Pandora (9)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Paradie (1)</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#">Vernos (5)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-9 d-flex">
                    <div class="row">
                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-17-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-17-3-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <a href="product-1.html" class="m-0 text-uppercase">open hoop earrings</a>
                                    <p>$100.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-1-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">pearl and crystal necklace</p>
                                    <p>$250.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-5">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-13-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-13-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">flower pearl earrings</p>
                                    <p>$150.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-17-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-17-3-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <a href="product-1.html" class="m-0 text-uppercase">open hoop earrings</a>
                                    <p>$100.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-1-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">pearl and crystal necklace</p>
                                    <p>$250.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-5">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-13-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-13-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">flower pearl earrings</p>
                                    <p>$150.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-17-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-17-3-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <a href="product-1.html" class="m-0 text-uppercase">open hoop earrings</a>
                                    <p>$100.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-1-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">pearl and crystal necklace</p>
                                    <p>$250.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mb-5">
                            <div class="box" data-aos="fade-up" data-aos-anchor-placement="top-center">
                                <div class="img-1 mb-3">
                                    <img src="assets/images/product-13-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="img-2 mb-3 ">
                                    <img src="assets/images/product-13-1-600x600.jpg" alt="" width="100%">
                                </div>
                                <div class="content" style="font-family: 'Lato', sans-serif;">
                                    <p class="m-0 text-uppercase">flower pearl earrings</p>
                                    <p>$150.00</p>
                                    <div class="bottons d-flex justify-content-between">
                                        <div class="btn bg-dark p-3 d-block text-white"
                                            style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 75%;">ADD
                                            TO
                                            CART<i class="fa-solid fa-arrow-right ms-2  "></i></div>
                                        <div class="btn bg-white  d-block text-black"
                                            style="border-radius: 1px;font-size: 25px;font-weight: 500;width: 20%;border: 2px solid black;">
                                            <i class="fa-regular fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- -------------/produts-end------------ -->


    <!-- ------------footer-startr--------- -->
    <footer style="background-color: #f9f9f9;" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="assets/images/logo.png" alt="" width="59px" class="mb-2">
                    <p style="font-size: 12px; font-family: 'Lato', sans-serif;" class="mb-1"><a
                            href="#">demo@gmail.com</a></p>
                    <p style="font-size: 12px; font-family: 'Lato', sans-serif;">012345678</p>
                </div>
                <div class="col-4">
                    <ul>
                        <li>
                            <p class="mb-2 text-uppercase">my account</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">career at eldy</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">about us</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">sustainability</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">press</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li>
                            <p class="mb-2 text-uppercase">help</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">faq</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">shipping</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">returns</a>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">order status</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <li>
                            <p class="mb-2 text-uppercase">newsletter</p>
                        </li>
                        <li>
                            <a href="#" style="font-size: 12px; font-family: 'Lato', sans-serif;"
                                class="text-capitalize">Sign-up to receive 10% off your next purchase. Plus hear about
                                new arrivals and offers.</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <input type="text" placeholder="Email.."
                                style="border: 0; border-bottom: 1px solid grey;width: 50%;">
                            <div class="btn bg-light p-3 d-block mx-auto"
                                style="border-radius: 1px;font-size: 12px;font-weight: 500;width: 40%;">Subscribe<i
                                    class="fa-solid fa-arrow-right ms-2  "></i></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <footer style="background-color: black;">
        <div class="container">
            <div class="row d-flex align-items-center">
                <p class="text-white py-3 m-0 text-center" style=" font-family: 'Lato', sans-serif;"><a href="#"
                        style="text-decoration: underline;">Copyright@2023Eldy</a>.All rights reserved.</p>
            </div>
        </div>
        </div>
    </footer>
    <!-- ------------footer-end--------- -->







    <!-- ---------------animate------------ -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!-- --------------produact-view---------------------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"
        integrity="sha512-KgffulL3mxrOsDicgQWA11O6q6oKeWcV00VxgfJw4TcM8XRQT8Df9EsrYxDf7tpVpfl3qcYD96BpyPvA4d1FDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
        integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

        $(document).ready(function () {
            $('.your-class').slick({

            });
        });

        $('.your-class').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>

</body>

</html>